#nav {
  width: 100vw;
  height: 10vh;
  background-color: black;
  display: flex;
  color: white;
  align-items: center;
  justify-content: space-between;
}

#nav #back {
  margin: 10px;
  font-size: 16pt;
  background-color: black;
  color: white;
  padding: 5px;
  border: 2px solid white;
  border-radius: 5px;
}

#nav #back:hover {
  background-color: white;
  color: black;
  transition: background-color 0.5s;
  transition: color 0.5s;
}

.nav-section {
  display: flex;
  justify-content: center;
  align-items: center;
}

#nav-brand {
  margin-left: 10px;
  font-size: 28pt;
}

.header {
  width: 100%;
  text-align: left;
  font-size: 28pt;
}

.subheader {
  width: 100%;
  text-align: left;
  font-size: 20pt;
}

#sub-menu {
  width: 33%;
  display: flex;
  justify-content: space-evenly;
}

.nav-link {
  text-decoration: none;
  color: white;
  cursor: pointer;
  font-weight: bold;
}

.nav-link:hover {
  color: gray;
}

.container {
  width: 80vw;
  margin: auto;
  text-align: center;
}

.container label {
  text-align: left;
}

.form {
  width: 30%;
  margin: auto;
}

.form input {
  width: 100%;
}

.form-label {
  text-align: left;
}

#shifts-chart {
  margin: auto;
  border: 1px solid;
}

#shifts-chart td {
  border: 1px solid;
}

#shifts-chart thead {
  font-weight: bold;
}

#shifts-chart button {
  width: 100%;
}

.organisation-chart {
  width: 50%;
  margin: auto;
}

.organisation-card {
  font-size: 18pt;
  display: flex;
  width: 80%;
  justify-content: space-evenly;
  align-items: center;
}

.org-control {
  width: 33%;
  text-align: center;
}

.dashboard-headline {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  border: 2px solid black;
  border-radius: 8px;
  margin: 10px;
  padding: 20px;
  font-size: 14pt;
}

.submit-button {
  border: 2px solid black;
  border-radius: 8px;
  padding: 8px;
  margin: 10px;
  text-decoration: none;
  background-color: black;
  color: white;
  font-size: 12pt;
}

.submit-button:hover {
  background-color: white;
  color: black;
  transition: color 0.8s;
  transition: background-color 0.8s;
}